<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{album.album_name}}</title>
        {% load staticfiles %}
       <link rel="stylesheet" type="text/css" href="{% static 'albumADay/style.css' %}" />
       <script src="https://raw.github.com/HubSpot/pace/v1.0.0/pace.min.js"></script>
       
    </head>
    <body>
        <div id="header">
            <h1>Day: {{album.id}}</h1>
        </div>
        <div class="album_info">
            <img class="album_cover_big" src="{{album.album_cover}}"/>
            <h2>Album: </h2>
            <h2 class="infos">{{album.album_name}}</h2>
            <h2>Artist: </h2>
            <h2 class="infos">{{album.album_artist}}</h2>
            <h2>Year: </h2>
            <h2 class="infos">{{album.album_year}}</h2>
            <h2>genre: </h2>
            <h2 class="infos">{{album.genre_names}}</h2>
            <br/>
            <p class="infos">{{album.ablum_comments}}</p>
        </div>
    </body>
</html>
